<!DOCTYPE html>
<html>
  <head>
    <title>jolierando | Home</title>
  </head>
  <body>
    <h1>jolierando</h1>
    <p>
      Elle est pas belle ma page d'accueil, j'ai besoin d'aide
      <a href="http://jolierando.com/static_pages/help">help</a>.
    </p>
  </body>
</html>
